@font-face{
	font-family: Lato-Regular;
	src: url(../fonts/Lato-Regular.ttf);
}
@font-face{
	font-family: Lato-Light;
	src: url(../fonts/Lato-Light.ttf);
}
@font-face{
	font-family: Lato-Hairline;
	src: url(../fonts/Lato-Hairline.ttf);
}
@font-face{
	font-family: Lato-Bold;
	src: url(../fonts/Lato-Bold.ttf);
}
@font-face{
	font-family: Lato-Black;
	src: url(../fonts/Lato-Black.ttf);
}
@font-face{
	font-family: Futura-Light;
	src: url(../fonts/Futura-Book-font.ttf);
}
/*h1, h2, h3, p, a, div{
	text-shadow: #000000 1px 1px 2px;
}*/
body.hidden-overflow{
	overflow: hidden;
}
body.admin{
	background: #494949;
}
html{
	height: 100%;
}
body{
	height: 100%;
	position: relative;
	background: initial;
	font-family: Lato-Light !important;
}
@media (min-width: 1200px){
	.container.wide{
		width: 1250px;
	}
}
select option{
	color: #222;
}
.seamless,
.seamless-bg{
	background-image: url(../img/seamlesscarbon.png);
	height: 100%;
	overflow: hidden;
	position: relative;
}
.seamless-bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.dunico-logo img{
	width: 63px;
	height: 50px;
	margin-top: -15px;
	float: left;
}
.dunico-logo div{
	margin-left: 15px;
	float: left;
}
.hidden-logo{
	position: absolute;
	left: 98px;
	top: -16px;
}
.hidden-logo img{
	width: 63px;
	height: 50px;
	margin-top: 0px;
	float: left;
}
.hidden-logo div{
	margin-left: 15px;
	float: left;
}
#navigation.navbar{
	border-radius: 0px;
}
#navigation.navbar-inverse{
	background: rgba(8,8,8,0.6);
}
#navigation.navbar .navbar-right li a{
	height: 66px;
	padding: 0px 15px;
	color: #fff;
	line-height: 67px;
	text-transform: uppercase;
	transition: background .25s ease-out, color .25s ease-out;
	font-family: Lato-Regular;
}
#navigation.navbar .navbar-right li.submit a{
	background: #3c948b;
	color: #fff;
	font-weight: bold;
}	
#navigation.navbar .navbar-right li.search a{
	width: 66px;
	background: #343434;
	color: #fff;
	text-align: center;
}
#navigation.navbar .navbar-right li.search,
#navigation.navbar .navbar-right li:first-child{
	border-left: none;
}
#navigation.navbar .navbar-right li{
	border-left: 1px solid #080808;
}
#navigation .navbar-header .navbar-brand,
.hidden-logo,
.a-logo{
	font-size: 36px;
	color: #fff;
	font-weight: bold;
	padding-top: 23px;
	padding-bottom: 43px;
	padding-left: 15px;
	font-family: Futura-Light;
}
.a-logo-lnk:hover{
	text-decoration: none !important;
}
#navigation .navbar-header .navbar-brand span,
.i-red{
	color: #ff2828;
}
.i-red.dark{
	color: #8E1616;
}
.hide-menu{
	border: 1px #101010 solid;
	background: rgba(8,8,8,0.9);
	font-family: Lato-Bold;
	position: absolute;
	right: 0;
	top: 0;
	padding: 3px 5px;
	font-size: 12px;
	cursor: pointer;
	z-index: 1500;
	color: #fff;
}
#featured .carousel-inner img{
	width: 100%;
	height: 100vh;
}
#featured .carousel-inner{
	height: 100%;
}
#featured .carousel-indicators{
	position: fixed;
	bottom: 20px;
	z-index: 999;
}
#featured .carousel-inner .carousel-caption{
	position: absolute;
	top: 100;
}
#featured .company-caption{
	position: fixed;
	top: 220px;
	left: 115px;
	z-index: 2;
	background: rgba(8,8,8,0.6);
	padding: 20px 25px;
	color: #fff;
}
#featured .company-caption h1{
	margin-top: 10px;
	font-family: Lato-Bold;
}
#featured .company-caption p{
	width: 590px;
	line-height: 1.5;
	font-size: 20px;
}
#featured .company-caption .media-links a{
	font-size: 20px;
	font-family: Lato-Regular;
	text-transform: uppercase;
	color: #fff;
}
#featured .company-caption .media-links a:hover{
	color: #ff9900;
	cursor: pointer;
	transition: 0.4s;
	text-decoration: none;
}
/*PARALLAX*/
/*h1{
	text-align: center;
	font-size: 575%;
	color: #4a4444 !important;
	text-transform: uppercase;
	letter-spacing: 1%;
	margin: 15% 0;
}
h2{
	text-align: left;
	font-size: 275%;
	color: #e5e5e5 !important;
	text-transform: uppercase;
	letter-spacing: 1%;
	margin: 15% 0;
}

.parallax{
	background: url('../arch/1.jpg') repeat fixed 100%;
}
.parallax-inner{
	padding: 18% 0;
}
*/

/*Carousel Fade Bootstrap*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  /*z-index: 1;*/
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  /*z-index: 2;*/
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.black-bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(../img/black-bg.png); 
	/*z-index: 0;*/
}
.carousel-caption{
	color: #222;
}
/*Profile*/
#profile{
	color: #fff;
	font-family: Lato-Light;
}
.push-down{
	margin-top: 95px;
}
#profile h2{
	font-size: 50px;
	text-align: left;
}
#profile #our-profile,
#profile #our-founder{
	position: relative;
}
#profile #our-founder{
	display: none;
}
#profile #our-profile p,
#profile #our-founder p{
	text-align: justify;
}
#profile #our-founder h3{
	margin-top: -10px;
	margin-bottom: 25px;
	font-family: Lato-Regular;
	text-transform: uppercase;
}
#profile #our-profile p{
	line-height: 1.8;
	font-size: 18px;
}
#profile #our-founder p{
	line-height: 1.28;
	font-size: 16.5px;
}
#profile #our-founder img{
	width: 200px;
	margin-left: 25px;
	box-shadow: #222 0px 3px 4px;
}
#profile-bc.breadcrumb,
#projects .breadcrumb{
	background: none;
	padding: 0;
	margin-bottom: 0;
}
#profile-bc.breadcrumb > li + li:before,
#projects .breadcrumb > li + li:before{
	padding: 0 8px;
	font-size: 18px;
}
.breadcrumb li a,
.breadcrumb li.active{
	font-size: 18px;
	font-family: Lato-Regular;
}
#profile-bc.breadcrumb li a,
#projects .breadcrumb li a{
	color: #fff;
}
#profile-bc.breadcrumb li.active a,
#projects .breadcrumb li.active a{
	color: #777;
	text-decoration: none;
}

#projects .breadcrumb{
	margin-top: 34px;
}
#projects .breadcrumb li a{
	font-size: 16px;
}
/*Services*/
#services{
	margin-top: 68px;
	color: #fff;
	font-family: Lato-Light;
}
#services h2{
	font-size: 50px;
	text-align: left;
}
#services h3{
	margin-bottom: 10px;
	font-family: Lato-Light;
}
#services p{
	text-align: justify;
	font-size: 18px;
	margin-bottom: 25px;
}

/*Projects*/
#projects h2{
	font-size: 50px;
	text-align: left;
}
#projects{
	margin-top: 68px;
	color: #fff;
	font-family: Lato-Light;
}
#projects .p-sidebar ul{
	padding-left: 19px;
	list-style: none;
}
#projects .p-sidebar ul li{
	padding: 3px 0;
}
#projects .p-sidebar ul li a{
	position: relative;
	color: #fff;
	font-size: 18px;
	font-family: Lato-Regular;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 3px;
}
#projects .p-sidebar ul li a:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
#projects .p-sidebar ul li.active a:before{
	background-color: #FF2828;
}
#projects .p-sidebar ul li a:hover:before,
#projects .p-sidebar ul li.active a:before{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#projects .p-container{
	width: 863px;
	height: 470px;
	margin-top: 8px;
	overflow-x: hidden;
	overflow-y: auto;
}
#projects .p-container img{
	float: left;
	width: 150px;
	height: 100px;
	box-shadow: #222 0px 3px 4px;
}
#projects .p-container a .p-image{
	position: relative;
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
	opacity: 0.8;
}
#projects .p-container a .p-image .p-caption{
    white-space: nowrap; 
	position: absolute;
	bottom: 0;
	padding: 3px 5px;
	color: #fff;
	width: 100%;
	background: rgba(34, 34, 34, 0.9);
	text-align: center;
    overflow: hidden;
	text-overflow: ellipsis;
	font-family: Lato-Regular;
	text-transform: uppercase;
	display: none;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*Contact Information*/
#contact h2{
	font-size: 50px;
	color: #fff;
}
#contact h3{
	font-family: Lato-Regular;
	text-transform: uppercase;
}
#contact .each-contact:first-child{
	margin-top: 0;
}
#contact .each-contact{
	margin-top: 30px;
	margin-left: 38px;
	color: #fff;
}
#contact .each-contact table{
	margin-left: 15px;
}
#contact table td{
	padding: 3px;
	font-size: 18px;
	text-shadow: #000000 1px 1px 2px;
}
#contact #map{
	margin-top: 28px;
	width: 570px;
	height: 400px;
	box-shadow: #222 0px 3px 4px;
}

/*Project Detail*/
#project_detail #featured .carousel-control img{
	position: relative;
	top: 300px;
}
.backdrop{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #222;
	z-index: 500;
	opacity: 0.8;
}
.featured-project{
	position: absolute;
	top: 190px;
	left: 120px;
	color: #fff;
}
.featured-project h1{
	font-size: 50px;
}
.featured-project p{
	font-size: 22px;
	line-height: 1.5;
	width: 980px;
	text-align: justify;
}
.featured-project .p-previous,
.featured-project .p-next{
	margin-top: 15px;
	font-size: 22px;
	text-transform: uppercase;
	font-family: Lato-Light;
}
.featured-project .p-previous:hover,
.featured-project .p-next:hover{
	color: #ff9900;
	cursor: pointer;
	transition: 0.4s;
}






/*ADMINISTRATOR*/
.login{
	position: relative;
	top: 150px;
	z-index: 1000;
	margin: 0 auto;
	background: rgba(8,8,8,0.5);
	border: 1px #222 solid;
	width: 30%;
	padding: 20px;
}
.login .logo{
	text-align: center;
	font-size: 36px;
	color: #fff;
	font-weight: bold;
	font-family: Lato-Regular;
}
.login input{
	font-size: 20px;
	height: 50px;
	margin-top: 15px;
}
.login button{
	height: 50px;
	margin-top: 15px;
	font-size: 16px;
}
.lblmsg{
	text-align: center;
	font-size: 16px;
	text-shadow: initial;
}
.lblmsg.danger{
	color: #ff2828;
}
.lblmsg.success{
	color: #b0ff28;
}
.lblmsg.success.dark{
	color: green;
}
.a-sidebar,
.a-maincontent{
	border: 1px #222 solid;
	background: rgba(8,8,8,0.6);
}
.a-sidebar a:hover{
	text-decoration: none;
}
.a-sidebar a div{
	padding: 10px 12px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
}
.a-sidebar a:hover div{
	color: #222;
	background: #fff;
	text-shadow: initial;
	transition: 0.4s;
}
.a-logo{
	padding-left: 43px;
	padding-bottom: 23px;
}
.a-maincontent{
	padding: 15px;
	margin-bottom: 15px;
}
.a-maincontent .heading-title{
	font-size: 24px;
	font-family: Lato-Regular;
	text-transform: uppercase;
	color: #fff;
}
.a-maincontent .a-secondary-title{
	background: #FFDC44;
	padding: 10px 15px;
}
.a-maincontent .a-secondary-title .pull-left{
	font-size: 16px;
	color: #222;
	text-transform: uppercase;
	text-shadow: initial;
}
.a-maincontent .a-secondary-title .pull-right .btn{
	text-transform: uppercase;
	font-family: Lato-Bold;
	padding: 3px 8px;
}
.header-credentials{
	border-bottom: 2px #fff solid;
	background: rgba(8,8,8,0.6);
	font-size: 14px;
	color: #fff;
}
.header-credentials button{
	border-radius: 0px;
	border: none;
	margin-left: 8px;
}

.tbl-layout td{
	padding: 3px;
	color: #fff;
}
.marg.top{
	margin-top: 15px;
}
.marg.left{
	margin-left: 15px;
}
.content-split{
	margin-top: 15px;
}
.userpic{
	width: 100px;
	height: 100px;
	padding: 3px;
	background: #fff;
	float: left;
}
textarea{
	resize: none;
}
.modal-dialog .modal-header{
	background: #222;
	text-transform: uppercase;
	font-family: Lato-Regular;
}
.modal-dialog .modal-body,
.modal-dialog .modal-body .tbl-layout td{
	color: #222;
	text-shadow: none;
}

#change_password .modal-dialog{
	width: 339px;
}

/*TABLE DESIGN*/
.tbl-design table{
	width: 100%;
	border: 1px #fff solid;
}
.tbl-design table td{
	padding: 7px;
}
.tbl-design .tableheader{
	background: #fff;
	text-shadow: none;
}
.tbl-design.inverse table{
	border: 1px #222 solid;
}
.tbl-design.inverse .tableheader{
	background: #222;
}
.tbl-design.inverse .tableheader td{
	color: #fff;
}
.tbl-design .tableheader td{
	color: #222;
	font-family: Lato-Regular;
}
.tbl-design .tablerow td{
	vertical-align: top;
	color: #fff;
}
.tbl-design.inverse td{
	color: #222;
}
.tbl-design .tablerow:hover{
	background: #c98134;
	cursor: pointer;
}
.tdprojectdescription{
	width: 420px;
}
.form-control.inline{
	width: auto;
	display: inline-block;
}
#preview,
#to_be_uploaded{
	margin-top: -15px;
	margin-left: -15px;
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
.a-project-image{
	position: relative;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	border: 1px #222 solid;
	box-shadow: #222 0px 3px 4px;
	padding: 6px;
	background: #fff;
}
.a-project-image img{
	width: 174px;
	height: 140.5px;
}
.a-project-image i{
	position: absolute;
	top: 0px;
	right: 0px;
	background: #F44242;
	color: #fff;
	padding: 3px;
}
.a-project-image i:hover{
	background: #B52929;
	cursor: pointer;
}
.c-hide{
	display: none;
}
.modal-title{
	color: #fff;
}


/*FEATURED IMAGES MODAL*/
#featuredImagesModal .modal-body{
	padding: 0px 0px 15px 0px;
}
#featuredImagesModal .a-project-image img{
	width: 140px;
	height: 100px;
}
#featuredImagesModal .a-project-image{
	box-shadow: initial;
	position: relative;
}
#featuredImagesModal .a-project-image input[type="checkbox"]{
	position: absolute;
	right: -1px;
	top: -5px;
}
#featuredImagesModal .project-name{
	font-size: 16px;
	text-align: left;
	text-transform: uppercase;
	padding: 15px 0px 15px 15px;
	margin-top: 15px;
	font-family: Lato-Bold;
	width: 100%;
	float: left;
	border-top: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
}
#featuredImagesModal hr{
	margin-top: 0px;
	margin-bottom: 0px;
}